body {
    margin: 0;
    overflow: hidden;
}

#left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #20232A;
    min-width: 50%;
    outline: none;
    z-index: -1;
}

#right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2B2F38;
    min-width: 50%;
    outline: none;
    z-index: -1;
}

#name {
    padding-top: 230px;
    position: absolute;
    left: 47%;
    top: 0;
    bottom: 0;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}


#name h1 {
    margin: 0;
    padding: 0;
    font-family: 'Questrial', sans-serif;
    color: rgba(32, 35, 42, 0.5);
    font-size: 455px;
    font-weight: bolder;
    line-height: -0;
}

.Q {
    margin: 0;
    color: rgba(255,99,71,0.9) !important;
    z-index: -1;
    font-size: 555px;
}
